* {
    box-sizing: border-box;
}

body {
    margin: auto;
    max-width: 800px;
    font-family: Arial;
    font-size: 18px;
    background-color:#080808;
    color: #c9c9c9;
}

.apptitle{
  font-size: 35px;
  font-weight: bolder;
  padding: 10px 10px;
  background-color: #002100;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color:#0f0;
  text-shadow: 0 0 11px #06ff06;
  border: 10px solid #000;
}

input[type=text],input[type=password], input[type=number],
select,
textarea {
    width: 100%;
    padding: 10px 10px;
    border: 1px solid #252525;
    border-radius: 4px;
    resize: vertical;
    font-size: 18px;
    background-color: #080808;
    color: #FFF;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.loginButton {
    background-color: #040953;
    color: white;
    padding: 20px 20px;
    border: 0px solid #000000;
    border-radius: 24px;
    cursor: pointer;
    /*float:right;*/
    font-size: 20px;
    width: 75%;
    text-shadow: 0 0 11px #06ff06;
    float: right;
}

.copyButton {
    padding: 10px 20px ;
    border-radius: 8px;
    text-align: left;
    float: left;
    border: 0px solid #000000;
    cursor: pointer;
    color: #EEE;
    font-size: 20px;
    width: 80%;
    background-color: #031d0500;
}

.copy{
    background-color: #04700d;
    padding: 0px 20px;
    color:rgb(0, 255, 0);
}

.copyButton:hover {
    background-color: #052e09;
    text-shadow: 0 0 11px #06ff06;
}

.underline{
    border-top: 0px transparent !important;
    border-bottom: 1px solid #00ff00 !important;
    border-left: 1px solid transparent !important;
    border-right: 1px solid transparent !important;
    
}

.container {
    border-radius: 0px;
    background-color:#0c0c0c;
    padding: 10px;
    max-width: 800px;
    /*width: 1400px;*/
    top:0%;
    position:relative;
    border: 10px solid #000;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    /*left: 50%;*/
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.col-100 {
    float: left;
    width: 75%;
    margin-top: 26px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    border: 5px solid transparent;  
}

.row-center{
    border: 15px solid transparent;
    text-align: center;
}

.red {
    color: #ff0000 !important;
    background-color: #210000 !important;
    border-color: #510000 !important;
}

.pass{
    text-shadow: 0 0 10px #3cff00;
    font-size: 30px !important;
    border-color: #210000 !important;
    max-width: 600px;
    background-color: transparent !important;
    color:rgb(210, 255, 210) !important;
    text-align: center !important;
}

.pass1{
    text-shadow: 0 0 11px #3cff00;
    background-color: #002100;
    text-align: center;
    font-weight: bold;
    font-size: 25px !important;
}

.green {
    color: #00ff00 !important;
    background-color: #002100 !important;
    border-color: #005100 !important;
}

.hide{
    display: none;
}

/*field set sections */
.form{
    margin: 0px;background: transparent;border-color: #0000;
  }
.blacksection{
  margin: 0px;background: #0c0c0c;border-color: #000000;
}

.redsection{
  margin: 0px;background: #002100;border-color: #008b00;
}

.greensection{
  margin: 0px;background: #002100;border-color: #008b00;
}



/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .col-25,
    .col-75,
    input[type=button] {
        width: 100%;
        margin-top: 0;
    }


    
}